[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "flatlands"

[packages]
cairosvg = "*"
pycairo = "*"
tk = "*"
wheel = "*"
flatland-rl = "*"
pytest = "*"
tensorflow = "*"
gym = {extras = ["atari"], version = "*"}

[dev-packages]

[requires]
python_version = "3.6"
